@import "../utils/mixins"
@import "../layout/nav_bar"
@import "../layout/header"
@import "../layout/how_it_works"
@import "../layout/restaurants"
@import "../layout/footer"

h1
	font-size: 2.5rem
	font-weight: bold !important
	text-align: center
h2
	font-size: 1.6rem
	text-align: center
	font-weight: normal
