@import "../utils/mixins"

#footer
	color: color('white')
	background:
		color: color("grey")

	padding: 2rem

	.logo
		height: 1.7rem
		margin:
			top: .7rem
			bottom: 1.7rem

	ul
		list-style-type: none

		li
			font-size: 1.5rem
			margin-bottom: 1rem

			a
				.fas
					width: 16px
					position: relative
					bottom: .1rem
					margin-right: 1rem
					font-size: 1.3rem
					text-align: center
