@import "../utils/mixins"
@import "../components/location"
@import "../components/button"
@import "../components/titles"

#header
	background-color: $color-grey
	@include flex(column nowrap, center, stretch)

	#header-content
		@include flex(column nowrap, space-between, center)
		padding: 4rem

		> *
			margin-bottom: 1rem
		> :nth-child(2)
			font:
				size: 1.65rem
				weight: 500
			color: rgba($color-black, .6)
		> :last-child
			margin: 2rem 0
