@import "../utils/variables"
@import "../utils/mixins"

#how-it-works
	padding: 2rem
	h1
		text-align: left
		margin: 3rem 0
		padding: 0

	.steps
		list-style-type: none

		.step
			@include text
			@include margin(2rem, 0, 2rem, 1rem)
			background-color: $color-light-grey
			padding: 2.5rem 3rem
			border-radius: 2rem
			box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1)
			font:
				size: 1.8rem
				weight: bold
			display: flex
			flex-flow: row nowrap
			justify-content: flex-start
			align-items: center
			cursor: pointer
			transition:
				property: background-color
				duration: .3s
				timing-function: ease-out

			&:hover
				transition:
					property: background-color
					duration: .3s
					timing-function: ease-out
				background-color: rgba($color-primary, .1)

				.fa
					transition:
						property: color
						duration: .3s
						timing-function: ease-out
					color: $color-primary

			.badge
				@include margin(0, 2rem, 0, -4.2rem)
				background-color: $color-primary
				display: inline-flex
				height: 2.5rem
				width: 2.5rem
				border-radius: 5rem
				justify-content: center
				align-items: center
				color: white
				font:
					weight: 400
					size: 1.5rem

			.fa
				@include margin(0, 2rem, 0, 0)
				transition:
					property: color
					duration: .3s
					timing-function: ease-out
				color: rgba($color-black, .6)
