@import "../utils/variables"
@import "../utils/mixins"

.button
	padding: 1.5rem 2rem
	border-radius: 3rem
	background: $color-primary
	background: linear-gradient(175deg, $color-secondary 0%, $color-primary 100%)
	font:
		size: 1.5rem
		weight: 500
	color: white
	text-align: center
	align-self: center
	box-shadow: 0 .5rem 1rem rgba(color('grey'), .2)
	transition:
		property: box-shadow
		duration: .3s
		timing-function: ease-out

	&:hover
		box-shadow: 0 .5rem 1rem rgba(color('grey'), .5)
		transition:
			property: box-shadow
			duration: .3s
			timing-function: ease-out

		&:is(a)
			text-decoration: none
