.button
	padding: 2rem 3rem
	border-radius: 3rem
	background: $color-primary
	background: linear-gradient(171deg, $color-secondary 0%, $color-primary 100%)
	font-size: 2rem
	color: white
	font-weight: bold
	text-align: center
	align-self: center
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2)

	&:is(a):hover
		text-decoration: none
