/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#nav-bar {
  width: 100%;
  height: 63px;
  padding: 0 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  position: relative;
}
#nav-bar .back-btn {
  font-size: 2rem;
  position: absolute;
  left: 2rem;
  top: 0.6rem;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#nav-bar .back-btn:hover {
  text-decoration: none;
}
#nav-bar .brand-link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 1.2rem 0;
  height: 100%;
}
#nav-bar .brand-link .brand {
  display: block;
  height: 31px;
}

/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
#hero {
  background-color: #F6F6F6;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}
#hero h1 {
  font-size: 2.5rem;
  font-weight: bold !important;
  text-align: center;
}
#hero h2 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
}
#hero > * {
  margin-bottom: 1rem;
}
#hero > :first-child {
  max-width: 30rem;
}
#hero > :nth-child(2) {
  font-size: 1.65rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
#hero > :last-child {
  margin: 2rem 0;
}

@media (min-width: 1025px) {
  #hero {
    justify-content: center;
  }
  #hero > h1 {
    max-width: none !important;
  }
}
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
#location {
  height: 50px;
  background-color: #EAEAEA;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}
#location .fa {
  margin-right: 2rem;
}

/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
.button {
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  background: #9356DC;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  align-self: center;
  min-width: 18rem;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0), 0 0.5rem 1rem rgba(53, 53, 53, 0.2);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button:hover {
  box-shadow: inset 0 0 1em 2em rgba(255, 255, 255, 0.1), 0 0.5rem 1rem rgba(53, 53, 53, 0.5);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button:hover:is(a) {
  text-decoration: none;
}

#header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

@media (min-width: 1025px) {
  #header {
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: stretch;
  }
  #header #location {
    width: 100%;
  }
}
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
#how-it-works {
  padding: 4rem 2rem;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
}
#how-it-works > h1 {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  margin-left: 0;
  padding: 0;
}
#how-it-works > .steps {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
}
#how-it-works > .steps > .step {
  font-family: Roboto, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #F6F6F6;
  padding: 2rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 0.8rem rgba(53, 53, 53, 0.1);
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  flex-grow: 1;
  max-width: 100%;
}
#how-it-works > .steps > .step:hover {
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background-color: rgba(147, 86, 220, 0.1);
  box-shadow: 0 0.5rem 0.8rem rgba(53, 53, 53, 0.2);
}
#how-it-works > .steps > .step:hover .fa {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  color: #9356DC;
}
#how-it-works > .steps > .step .badge {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -4.2rem;
  margin-right: 2rem;
  background-color: #9356DC;
  display: inline-flex;
  height: 2.5rem;
  min-height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}
#how-it-works > .steps > .step .fa {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 2rem;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  color: rgba(0, 0, 0, 0.6);
}
#how-it-works > .steps > .step > span:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #how-it-works {
    max-width: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  #how-it-works > h1 {
    width: 35%;
    text-align: right;
    margin-right: 4rem;
  }
}
@media (min-width: 1025px) {
  #how-it-works {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 120rem;
  }
  #how-it-works .steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }
  #how-it-works .steps > .step:not(:last-child) {
    margin-right: 3rem;
  }
}
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
.heart-btn {
  --animation-duration: .5s;
  align-self: center;
  font-size: 2.5rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 1em;
  height: 1em;
}
.heart-btn > * {
  position: absolute;
  left: 0;
  right: 0;
}
.heart-btn > *.heart-bg {
  opacity: 0;
  background: linear-gradient(160deg, #FF79DA 30%, #9356DC 100%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  transition: opacity var(--animation-duration) ease;
  z-index: -1;
}
.heart-btn:hover > .heart-bg {
  opacity: 1;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 1.44rem;
  text-align: left;
  box-shadow: 0 0.3rem 1rem rgba(53, 53, 53, 0.1);
  position: relative;
  transition: box-shadow 0.3s ease-out;
}
.card:hover {
  box-shadow: 0 0.3rem 1rem rgba(53, 53, 53, 0.3);
  transition: box-shadow 0.3s ease-out;
}
.card > .badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.8rem 1.2rem 0.6rem 1.2rem;
  background-color: #99E2D0;
  color: #009e76;
  border-radius: 0.24rem;
  border-bottom: 1px solid rgba(153, 226, 208, 0.1);
  font-size: 1.33rem;
  font-weight: 600;
}
.card > img {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
  height: 175px;
  border-radius: 1.44rem 1.44rem 0 0;
}
.card > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: initial;
  position: relative;
  text-align: inherit;
  padding: 1.5rem;
}
.card > div > .caption {
  text-align: inherit;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}
.card > div > .caption > h2 {
  text-align: inherit;
  margin-bottom: 0.5rem;
  padding: 0;
  font-weight: bold;
  font-size: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card > div > .caption > h3 {
  text-align: inherit;
  color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card > div > button.heart-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
}

#card-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 2rem;
}
#card-list > li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  margin-bottom: 1.7rem;
}
#card-list > li > a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
}
#card-list > li > a, #card-list > li > a:hover {
  text-decoration: none;
}

@media (min-width: 481px) {
  #card-list {
    flex-flow: row wrap;
    justify-items: center;
    align-items: flex-start;
    align-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #card-list > li {
    width: 100%;
    max-width: calc(50% - 1rem);
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1201px) {
  #card-list {
    justify-content: flex-start;
    justify-items: flex-start;
    padding: 2rem;
  }
  #card-list > li {
    max-width: none;
    width: calc(25% - 1.5rem);
    flex-grow: 0;
    margin-right: 2rem;
  }
  #card-list > li:last-child {
    margin-right: 0;
  }
}
#restaurants {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 4rem 0;
}
#restaurants > h1 {
  text-align: left;
  font-weight: 700;
  margin: 2rem;
}

@media (min-width: 1025px) {
  #restaurants {
    width: 100%;
    max-width: 120rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
#footer {
  color: #FFFFFF;
  background-color: #353535;
}

#footer-container {
  padding: 2rem;
}
#footer-container > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.7rem;
  margin-bottom: 1.7rem;
}
#footer-container > a > .logo {
  height: 1.7rem;
}
#footer-container > ul {
  list-style-type: none;
}
#footer-container > ul > li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#footer-container > ul > li > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#footer-container > ul > li > a > .fas {
  width: 16px;
  position: relative;
  bottom: 0.1rem;
  margin-right: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

@media (min-width: 481px) and (max-width: 768px) {
  #footer-container > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: initial;
    align-items: initial;
  }
  #footer-container > ul > li {
    width: 50%;
  }
  #footer-container > ul > li:nth-child(1), #footer-container > ul > li:nth-child(3) {
    order: -1;
  }
}
@media (min-width: 769px) {
  #footer-container > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
  #footer-container > ul > li:not(:last-child) {
    margin-right: 3rem;
  }
  #footer-container > ul > li:nth-child(3) {
    flex-grow: 1;
  }
  #footer-container > ul > li:nth-child(3) > a, #footer-container > ul > li:nth-child(4) > a {
    justify-content: flex-end;
  }
}
@media (min-width: 1201px) {
  #footer-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
  }
  #footer-container > a {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5rem;
  }
  #footer-container > ul > li {
    margin-bottom: 0;
  }
}
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes FadeOut {
  0% {
    opacity: 1;
    display: block;
    transition: background-color 1s ease;
    z-index: 2000;
  }
  99% {
    opacity: 0;
    display: block;
    background-color: transparent;
    z-index: 2000;
  }
  100% {
    opacity: 0;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
body.with-loader {
  overflow: hidden;
  animation-name: Loading;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: #F6F6F6;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  -webkit-animation-name: FadeOut;
  animation-name: FadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  color: #9356DC;
  font-size: 3rem;
}
#loader > small {
  display: flex;
  font-size: 1em;
  margin-top: 1em;
  font-weight: bold;
  -webkit-animation-name: FadeOut;
  animation-name: FadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 0.5s;
}
#loader > .loader {
  font-size: 2em;
  width: 2em;
  height: 2em;
  position: relative;
  text-align: center;
  transform: scale(1);
  transition: transform 0.5s ease-in;
  animation-name: PopOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
#loader > .loader > * {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#loader > .loader > .outer {
  color: #FF79DA;
  font-size: 2em;
}
#loader > .loader > .inner {
  color: #009e76;
  font-size: 1em;
  width: 1em;
  height: 1em;
  top: 0.5em;
  left: 0.5em;
}

@keyframes Loading {
  0% {
    overflow: hidden;
  }
  1% {
    overflow: auto;
  }
  100% {
    overflow: auto;
  }
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
@keyframes PopOut {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

/*# sourceMappingURL=home.css.map */
