@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
}

html {
  font-size: 62.5%;
}
html > body {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#main > * {
  margin-bottom: 3rem;
  padding: 2rem 0;
}
#main > *:last-child {
  margin-bottom: 0;
}

/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#nav-bar {
  width: 100%;
  height: 63px;
  padding: 0 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  position: relative;
}
#nav-bar .back-btn {
  font-size: 2rem;
  position: absolute;
  left: 2rem;
  top: 0.6rem;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
#nav-bar .back-btn:hover {
  text-decoration: none;
}
#nav-bar .brand-link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding-bottom: 1.2rem;
  height: 100%;
}
#nav-bar .brand-link .brand {
  display: block;
  height: 31px;
}

/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
#hero {
  background-color: #F6F6F6;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}
#hero > * {
  margin-bottom: 1rem;
}
#hero > :first-child {
  max-width: 30rem;
}
#hero > :nth-child(2) {
  font-size: 1.65rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
#hero > :last-child {
  margin: 2rem 0;
}

@media (min-width: 1025px) {
  #hero {
    justify-content: center;
  }
  #hero > h1 {
    max-width: none !important;
  }
}
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
#location {
  height: 50px;
  background-color: #EAEAEA;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
#location .fa {
  margin-right: 2rem;
}

/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
.button {
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  background: #9356DC;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  text-align: center;
  align-self: center;
  min-width: 18rem;
  box-shadow: 0 0.5rem 1rem rgba(53, 53, 53, 0.2);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button:hover {
  box-shadow: 0 0.5rem 1rem rgba(53, 53, 53, 0.5);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button:hover:is(a) {
  text-decoration: none;
}

#header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

@media (min-width: 1025px) {
  #header {
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: stretch;
  }
  #header #location {
    width: 100%;
  }
}
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
#how-it-works {
  padding: 4rem 2rem;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 auto;
}
#how-it-works > h1 {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
  margin-left: 0;
  padding: 0;
}
#how-it-works > .steps {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
}
#how-it-works > .steps > .step {
  font-family: Roboto, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #F6F6F6;
  padding: 2rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 0.8rem rgba(53, 53, 53, 0.1);
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  flex-grow: 1;
  max-width: 100%;
}
#how-it-works > .steps > .step:hover {
  transition-property: background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  background-color: rgba(147, 86, 220, 0.1);
  box-shadow: 0 0.5rem 0.8rem rgba(53, 53, 53, 0.2);
}
#how-it-works > .steps > .step:hover .fa {
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  color: #9356DC;
}
#how-it-works > .steps > .step .badge {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -4.2rem;
  margin-right: 2rem;
  background-color: #9356DC;
  display: inline-flex;
  height: 2.5rem;
  min-height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}
#how-it-works > .steps > .step .fa {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 2rem;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  color: rgba(0, 0, 0, 0.6);
}
#how-it-works > .steps > .step > span:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #how-it-works {
    max-width: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
  }
  #how-it-works > h1 {
    width: 35%;
    text-align: right;
    margin-right: 4rem;
  }
}
@media (min-width: 1025px) {
  #how-it-works {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 120rem;
  }
  #how-it-works .steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }
  #how-it-works .steps > .step:not(:last-child) {
    margin-right: 3rem;
  }
}
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
.heart-btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.heart-btn:hover {
  background: linear-gradient(355deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart-btn:hover > .far {
  display: none;
}
.heart-btn:hover > .fa {
  display: block;
}
.heart-btn > .fa {
  display: none;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 1.44rem;
  text-align: left;
  box-shadow: 0 0.3rem 1rem rgba(53, 53, 53, 0.1);
  position: relative;
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.card:hover {
  box-shadow: 0 0.3rem 1rem rgba(53, 53, 53, 0.3);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.card > .badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: #99E2D0;
  color: #009e76;
  border-radius: 0.24rem;
  border-bottom: 1px solid rgba(153, 226, 208, 0.1);
  font-size: 1.33rem;
  font-weight: 600;
}
.card > img {
  width: 100%;
  flex-grow: 1;
  object-fit: cover;
  height: 175px;
  border-radius: 1.44rem 1.44rem 0 0;
}
.card > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: initial;
  position: relative;
  text-align: inherit;
  padding: 1.5rem;
}
.card > div > div {
  text-align: inherit;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}
.card > div > div > h2 {
  text-align: inherit;
  margin-bottom: 0.5rem;
  padding: 0;
  font-weight: bold;
  font-size: 2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card > div > div > h3 {
  text-align: inherit;
  color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card > div > button.heart-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
}

#card-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 2rem;
}
#card-list > li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  margin-bottom: 1.7rem;
}
#card-list > li > a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
}
#card-list > li > a, #card-list > li > a:hover {
  text-decoration: none;
}

@media (min-width: 481px) {
  #card-list {
    flex-flow: row wrap;
    justify-items: center;
    align-items: flex-start;
    align-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #card-list > li {
    width: 100%;
    max-width: calc(50% - 1rem);
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1201px) {
  #card-list {
    justify-content: flex-start;
    justify-items: flex-start;
    padding: 2rem;
  }
  #card-list > li {
    max-width: none;
    width: calc(25% - 1.5rem);
    flex-grow: 0;
    margin-right: 2rem;
  }
  #card-list > li:last-child {
    margin-right: 0;
  }
}
main#main {
  background-color: #F6F6F6;
}

#restaurants {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 4rem 0;
}
#restaurants > h1 {
  text-align: left;
  font-weight: 700;
  margin: 2rem;
}

@media (min-width: 1025px) {
  #restaurants {
    width: 100%;
    max-width: 120rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
#footer {
  color: #FFFFFF;
  background-color: #353535;
}
#footer > #footer-container {
  padding: 2rem;
}
#footer > #footer-container > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.7rem;
  margin-bottom: 1.7rem;
}
#footer > #footer-container > a > .logo {
  height: 1.7rem;
}
#footer > #footer-container > ul {
  list-style-type: none;
}
#footer > #footer-container > ul > li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#footer > #footer-container > ul > li > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#footer > #footer-container > ul > li > a > .fas {
  width: 16px;
  position: relative;
  bottom: 0.1rem;
  margin-right: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

@media (min-width: 481px) and (max-width: 768px) {
  #footer > #footer-container > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: initial;
    align-items: initial;
  }
  #footer > #footer-container > ul > li {
    width: 50%;
  }
  #footer > #footer-container > ul > li:nth-child(1), #footer > #footer-container > ul > li:nth-child(3) {
    order: -1;
  }
}
@media (min-width: 769px) {
  #footer > #footer-container > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
  #footer > #footer-container > ul > li:not(:last-child) {
    margin-right: 3rem;
  }
  #footer > #footer-container > ul > li:nth-child(3) {
    flex-grow: 1;
  }
  #footer > #footer-container > ul > li:nth-child(3) > a, #footer > #footer-container > ul > li:nth-child(4) > a {
    justify-content: flex-end;
  }
}
@media (min-width: 1201px) {
  #footer > #footer-container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  #footer > #footer-container > a {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5rem;
  }
  #footer > #footer-container > ul > li {
    margin-bottom: 0;
  }
}
h1 {
  font-size: 2.5rem;
  font-weight: bold !important;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
}

/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
/* COLORS */
/* SIZES */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2rem, 0);
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* FONTS */
/* SIZE */
/* SPACING */
/* FLEXBOX */
/* COLORS */
.menu-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  background-color: #FFFFFF;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 0.3rem 1rem rgba(53, 53, 53, 0.1);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.menu-item > :first-child {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  max-width: 100%;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.3rem;
  padding-left: 1rem;
}
.menu-item > :first-child h3 {
  margin-bottom: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: inherit;
  font-weight: bold;
  font-size: 100%;
}
.menu-item > :first-child > :last-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  font-size: 80%;
  max-width: 100%;
  overflow: hidden;
}
.menu-item > :first-child > :last-child > :first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-item > :last-child {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #99E2D0;
  overflow: hidden;
  max-width: 0;
  min-width: 0;
  width: 100%;
  transition-duration: 0.2s;
  transition-property: min-width, max-width;
  transition-timing-function: ease-out;
}
.menu-item > :last-child > .fa {
  transform: rotate(0deg);
}
.menu-item:hover {
  box-shadow: 0 0.3rem 1rem rgba(53, 53, 53, 0.3);
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.menu-item:hover > :last-child {
  min-width: 64px;
  max-width: 64px;
  transition-duration: 0.3s;
}
.menu-item:hover > :last-child > .fa {
  transform: rotate(360deg);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.menu-item:nth-child(1n) {
  animation-delay: 0.1s;
}
.menu-item:nth-child(2n) {
  animation-delay: 0.2s;
}
.menu-item:nth-child(3n) {
  animation-delay: 0.3s;
}
.menu-item:nth-child(4n) {
  animation-delay: 0.4s;
}
.menu-item:nth-child(5n) {
  animation-delay: 0.5s;
}
.menu-item:nth-child(6n) {
  animation-delay: 0.6s;
}
.menu-item:nth-child(7n) {
  animation-delay: 0.7s;
}
.menu-item:nth-child(8n) {
  animation-delay: 0.8s;
}
.menu-item:nth-child(9n) {
  animation-delay: 0.9s;
}
.menu-item:nth-child(10n) {
  animation-delay: 1s;
}

.menu-section {
  font-family: Roboto, sans-serif;
  margin: 2rem 0;
  padding: 0 2rem;
}
.menu-section > h2 {
  font-family: inherit;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 1.5rem;
  width: 40px;
  padding-bottom: 0.5rem;
}
.menu-section > .menu-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 2.5rem;
}

#main {
  background-color: transparent;
}
#main > img {
  object-fit: cover;
  width: 100%;
  height: 27.4vh;
  margin: 0;
  padding: 0;
}

#restaurant-menu {
  background-color: #F6F6F6;
  border-radius: 4rem 4rem 0 0;
  margin-top: -4rem;
  position: relative;
  z-index: 2000;
}
#restaurant-menu > header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.8rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#restaurant-menu > header > h1 {
  font-family: Shrikhand, sans-serif;
  text-align: left;
}
#restaurant-menu > footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  padding-top: 1.5rem;
  padding-bottom: 6rem;
}

/*# sourceMappingURL=style.css.map */
