@mixin fill
	width: 100%
	height: 100%

@mixin title
	font-family: Shrikhand, sans-serif
@mixin text
	font-family: Roboto, sans-serif

@mixin margin($top, $right, $bottom, $left)
	margin:
		top: $top or initial
		bottom: $bottom or initial
		left: $left or initial
		right: $right or initial

@mixin flex($direction, $wrap, $basis, $grow, $shrink)
	display: flex
	flex:
		direction: $direction or row
		wrap: $wrap or wrap
		basis: $basis or initial
		grow: $grow or initial
		shrink: $shrink or initial
