/* COLORS */
$color-black: #000000
$color-dark-grey: #101010
$color-grey: #353535
$color-light-grey: #F6F6F6
$color-white: #FFFFFF
$color-primary: #9356DC
$color-secondary: #FF79DA
$color-accent: #99E2D0
$color-dark-accent: #009e76
$colors: ("black": $color-black,"dark-grey": $color-dark-grey,"grey": $color-grey,"light-grey": $color-light-grey,"white": $color-white,"primary": $color-primary,"secondary": $color-secondary,"accent": $color-accent,"dark-accent": $color-dark-accent)


/* SIZES */
$nav-bar-height: 63px
$radius: .8rem
